@import "tailwindcss";

@import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/indigo.css";
@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/purple.css";
@import "@radix-ui/colors/violet.css";
@import "@radix-ui/colors/gray.css";
@import "@radix-ui/colors/red.css";
@import "@radix-ui/colors/red-dark.css";
@import "@radix-ui/colors/green.css";
@import "@radix-ui/colors/indigo-dark.css";
@import "@radix-ui/colors/mauve-dark.css";
@import "@radix-ui/colors/purple-dark.css";
@import "@radix-ui/colors/violet-dark.css";
@import "@radix-ui/colors/gray-dark.css";

@layer base {
  :root{
    --background: #FFFCF3;
    --foreground: #0A0A0A; /* ~ 3.9% lightness */
    --card: #FFFFFF;
    --card-foreground: #0A0A0A;
    --radius: 0.5rem;
  }

  .dark {
    --background: #0A0A0A;
    --foreground: #FFFCF3;
    --card: #0A0A0A;
    --card-foreground: #FFFCF3;
  }

  body{
    background-color: var(--background);
    color: var(--foreground);
  }


}
