---
import BaseLayout from "../layouts/BaseLayout.astro";
import Landing from "../components/Landing.tsx";
import Navbar from "../components/navbar";
import Lancet from "../components/projects/lancet";
import Shield from "../components/projects/shield";
import Cadlock23 from "../components/projects/cadlock23";
import Cadlock22 from "../components/projects/cadlock22";
import Agrosense21 from "../components/projects/agrosense21";
import Agrosense20 from "../components/projects/agrosense20";
import Labyrinth from "../components/projects/labyrinth";
import Captivate from "../components/projects/captivate";
import Clipd from "../components/projects/clipd";
import Switch from "../components/projects/switch";
import Chitinite15 from "../components/projects/chitinite15";
import Chitinite14 from "../components/projects/chitinite14";
import First from "../components/projects/first";
---
<BaseLayout title="Projects - Lambert iGEM">
    <Navbar client:load />
    <h1 class="text-white text-6xl font-bold mt-24 items-center justify-center flex [text-shadow:0_0_0.5em_#FFFFFF]">
        Our Projects
    </h1>

    <p class="text-gray-500 mt-6 items-center justify-center text-center mb-16">
          Hover to see a short description.
          <br />
          Click to view the project wiki.
        </p>
<!--
    <div class="flex flex-row justify-center gap-32 mb-12">
      <Lancet />
      <Shield />
      <Cadlock23 />
    </div>

    <div class="flex flex-row justify-center gap-32 mb-12">
      <Cadlock22 />
      <Agrosense21 />
      <Agrosense20 />
    </div>

    <div class="flex flex-row justify-center gap-32 mb-12">
      <Labyrinth />
      <Captivate />
      <Clipd />
    </div>

    <div class="flex flex-row justify-center gap-32 mb-12">
      <Switch />
      <Chitinite15 />
      <Chitinite14 />
    </div>

    <div class="flex flex-row justify-center gap-32 mb-12">
      <First />
    </div>
-->

    <div class="mx-auto max-w-8xl px-6 sm:px-10 flex flex-col lg:flex-row lg:flex-wrap justify-center gap-x-24 gap-y-8 mb-12">
      <Lancet />
      <Shield />
      <Cadlock23 />
      <Cadlock22 />
      <Agrosense21 />
      <Agrosense20 />
      <Labyrinth />
      <Captivate />
      <Clipd />
      <Switch />
      <Chitinite15 />
      <Chitinite14 />
      <First />
    </div>
</BaseLayout>
